{% extends 'admin/modules/indexModule.html.twig' %}
{% block formulaire_module %}

    <h2> Ajouter un article</h2>

    {{ form_start(form) }}
    <div class=" row col-12">
        <div class="row col-8">
            <div class="col-md-9">{{ form_row(form.module.titre) }}</div>
            <div class="col-md-3">{{ form_row(form.module.etatPublication) }}</div>
            <div class="col-md-12">{{ form_row(form.module.contenu) }}</div>
            {#<div class="col-md-9">  {{ form_row(form.categories) }}</div>#}

        </div>
        <div class="row col-4 flex-column"  >
            <div id="category">
                <btn id="add_category" class="btn btn-success " style="margin:15px;" >Ajouter une categorie</btn>
                <btn id="create_category" class="btn btn-primary " style="margin:15px;" >Créer une categorie</btn>
                <div id="formulaire_categorie_create" class="col-10"  >
                    {{ form_row(form.categorie_create) }}
                </div>
                <div id="formulaire_categorie_exist" class="col-10">
                    {{ form_row(form.categorie) }}
                </div>
            </div>
            <div id="page">
                <btn id="add_page" class="btn btn-success " style="margin:15px;" >Créer une page</btn>
                <btn id="create_page" class="btn btn-primary " style="margin:15px;" >Créer une page</btn>
                <div id="formulaire_page_create" class="col-10">
                {{ form_row(form.page_create) }}
                </div>
                <div id="formulaire_page_exist" class="col-10">
                    {{ form_row((form.page_ajout)) }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <button class="col-3 btn btn-primary">Enregistrer</button>
    <br>
    <br>
    {{ form_end(form) }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $("#formulaire_categorie_exist").hide();
            $("#formulaire_categorie_create").hide();
            $("#formulaire_page_create").hide();
            $("#formulaire_page_exist").hide();

            //On ajoute un nouveau le formulaire au clic sue le bouton d'ajout.
            $("#add_category").click(function () {
                $('div#formulaire_categorie_exist').toggle();
                e.preventDefault();// évite qu'un # apparaisse dans l'URL
                return false;
            });
            $("#create_category").click(function () {
                $('div#formulaire_categorie_create').toggle();
                e.preventDefault();// évite qu'un # apparaisse dans l'URL
                return false;
            });
            $("#add_page").click(function () {
                $('div#formulaire_page_exist').toggle();
                e.preventDefault();// évite qu'un # apparaisse dans l'URL
                return false;
            });$("#create_page").click(function () {
                $('div#formulaire_page_create').toggle();
                e.preventDefault();// évite qu'un # apparaisse dans l'URL
                return false;
            });
        })

    </script>

{% endblock %}
