{% extends '/admin/pages/indexPage.html.twig' %}

{% block formulaire_page %}

    <h2> Ajouter une page</h2>
    {{ form_start(form) }}
    <div class=" row col-12">
        <div class="row col-6">
            <div class="col-md-9">{{ form_row(form.page.titrePage) }}</div>
            <div class="col-md-3">{{ form_row(form.page.etatPublicationPage) }}</div>
            <div class="col-md-10">{{ form_row(form.page.descriptionPage) }}</div>
            <div class="col-md-10">{{ form_row(form.page.categories) }}</div>
            <div class="col-md-10">{{ form_row(form.page.parent) }}</div>

            {#<div class="col-md-9">  {{ form_row(form.categories) }}</div>#}

        </div>
        <div class="row col-6"  >
            <btn id="add_module" class="btn btn-success col-3" style="height: 35px"  >Créer une categorie</btn>

            <div id="formulaire_module_ajout" class="col-10 "  >
                {{ form_row(form.module_create) }}
            </div>
            <div id="formulaire_module_exist" class="col-10">
                {{ form_row(form.module) }}
            </div>
        </div>
    </div>
        <button class="btn btn-primary">Enregistrer</button>

        {{ form_end(form) }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
       $("#formulaire_module_ajout").hide();

            //On ajoute un nouveau le formulaire au clic sue le bouton d'ajout.
            $("#add_module").click(function () {
              $('div#formulaire_module_ajout').toggle();
              $('div#formulaire_module_exist').toggle();

                e.preventDefault();// évite qu'un # apparaisse dans l'URL
                return false;
            });
        })

    </script>





{% endblock %}

